// Source:
// https://github.com/aaronjamesyoung/simplest-flexbox-grid

// How to use:
// 1. Set number of Columns (%row)
// 2. Set gutter ($_fg_gutter)
// 1. Add "@extend %row" to the container
// 2. Add "@include _fg_width(6/15)" to the column (ex. 6 columns of 15 columns)

$_fg_gutter : 2 !default;
$_fg_padding: 0 !default; // Optional

@mixin _fg($_fg_cols: 0, $_fg_conf_gutter: $_fg_gutter, $_fg_conf_padding: $_fg_padding) {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: (-1 * $_fg_conf_gutter) * 1px;

  > * { 
    padding: $_fg_conf_padding * 1px;
    margin-left: $_fg_conf_gutter * 1px;
    box-sizing: border-box; 
  }

  $_fg_calc_percent: (1/$_fg_cols) * 100%;
  $_fg_calc_gutter_allowance: $_fg_conf_gutter * 1px;

  > * { 
    width: calc(#{$_fg_calc_percent} - #{$_fg_calc_gutter_allowance}); 
  }
}

@mixin _fg_width($_fg_ratio, $_fg_conf_gutter: $_fg_gutter) {

  $_fg_calc_percent: $_fg_ratio * 100%;
  $_fg_calc_gutter: $_fg_conf_gutter * 1px;

  width: calc(#{$_fg_calc_percent} - #{$_fg_calc_gutter});
};


%row { @include _fg(12); } // Grid container: Number of columns