head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Page Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Generate Icons: Place icons in the root directory - http://www.favicon-generator.org

    // Add font
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700', rel='stylesheet')

    // build:css css/main.min.css
    link(rel='stylesheet', href='css/main.css')
    // endbuild